<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBaU1SiaOeVhP1HOl1dGtMmHAtCmPFSqWc</string>
	<key>GCM_SENDER_ID</key>
	<string>1045504523572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthApp2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>medical-authentication-6a1ed</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-authentication-6a1ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045504523572:ios:1d24cb2510f6006efef961</string>
</dict>
</plist>